
*{
    margin: 0px;
    padding: 0px;
}

#banner{
    width: 900px;
    height: 200px;
    border-style: none;
    border-width: 2px;
    margin:auto;
    text-align: center;
    margin-top: 50px;
    
}

nav{
    width: 900px;
    height: 60px;
    background-color: rgb(228, 226, 226);
    margin: auto; 
    text-align: center;
}



#firstmenu{
    width: 340px;
    height: 80px;
    background-color: aqua;
    list-style-type: none;  
    float: left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 5px; 
    color: blue;   
    border-color: rgb(17, 17, 133);
}

#secondmenu{
    width: 190px;
    height: 80px;
    background-color: rgb(106, 240, 240);
    list-style-type: none; 
    float: left; 
    margin: 5px;
    color: blue;
}

#thirdmenu{
    width: 340px;
    height: 80px;
    background-color: rgb(41, 172, 172);
    list-style-type: none; 
    float: left; 
    margin: 5px;
}

#menuler a:visited{
    color: black;
    text-decoration: none;
}
#altmenu{
    width: 900px;
    height: 40px;
    text-align: center;
    float: left;
    margin-left: 225px;
    padding-top: 40px;
}
